*{
    font-family: 'Fjalla One', sans-serif;
    box-sizing: border-box;
}
ul{
    color:#22d271;

}

td{
    width:40%;
    text-align:left;
}

html {
    scroll-behavior: smooth;
  }

 
:target {
  scroll-margin-top: .8em;
}
footer{
    background-color: black;
    padding:30px;
    color:#22d271;
    font-family: 'Fjalla One', sans-serif;
    font-size:30px;
    
}

h5{
    height: 50px;
}

address{
    color:orangered;
}

.links{
    color:darkcyan;
    display: block;
    text-decoration: none;
}

#email{
    display: block;
    text-align: center;
    color:darkcyan;
    text-decoration: none;
}

h1{
    color:white;
}

.centralize{
    margin: auto;
    text-align: center;
}

body{
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    scroll-behavior: smooth;
}

.imagem-projeto{
    image-resolution: 1;
    height:50vh;
    width:17vw;
    padding-left:  15px;        
}

.botoesheader{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 40px;
    background-color:#cd295a;
    text-decoration: none;
    cursor: pointer;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color:#cd295a;
    text-decoration: none;
    cursor: pointer;
}
.btn::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.btn:hover::after {
    margin-top:-8px;
}

#topmenu{
    
    display: flex;
    background-color: #302f2f;
    margin:0;
   
    

}

#topmenu li{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    

}

.section1{
    display: flex;
    height: 40vw;
    background-color: #22d271;
}

.section2{
    display: flex;
    height: 40vw;
    background-color: white;
    
}

.section3{
    display: flex;
    height: 40vw;
    background-color: dimgray;
}

.section4{
    display: flex;
    height: 40vw;
    background-color:azure;

}

.botao-vermelho{
    background-color:  #cd295a;
    border-radius: 8px;
    color: white;
    padding: 20px;
    font-family: 'Fjalla One', sans-serif;
    cursor: pointer;
    
}

#topmenu li:first-child{
margin-right: auto;
}

img{
    position: relative;
    
}